* {
  max-width: 1500px;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Baskerville Old Face', serif;
}

span, button {
  font-family: 'NotoSans', sans-serif;
}

h3 {
  font-family: 'SourceSansRegular', sans-serif;
}
